@import './src/styles/fonts.css';

* {
  margin: 0;
  padding: 0;
}
.wrapper main .content_wrapper {
  justify-content: center;
  flex-direction: column;
}

header,
main,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: #0a1a2c;
}

a {
  text-decoration: none;
}

header {
  background: #0f2438;
  height: 36px;
}

.wrapper .content_wrapper {
  width: 100%;
  max-width: 1366px;
  display: flex;
}

/* Header */
header .content_wrapper {
  justify-content: space-between;
}

.header_info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 430px;
}

.header_info {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header_info_title {
  font: 500 14px Roboto;
  line-height: 16px;
  color: #ffffff;
}

.header_info_title .header_city {
  text-decoration: underline;
}

.header_coords_icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.header_triangle {
  background: url('./src/images/header/arrow-down.png') no-repeat;
  background-size: contain;
  height: 10.000000000000009px;
  width: 10.000000000000009px;
  margin-left: 5px;
}

.header_menu {
  height: 100%;
  width: 601px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu_page {
  font: 500 14px Roboto;
  line-height: 16px;
  color: #ffffff;
}
/* End header */

/* Main */

.contact_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact_wrapper .contact_block {
  display: flex;
  justify-content: space-between;
  color: #0f2438;
}

.contact_wrapper .logo_block,
.contact_wrapper .work_time_block,
.contact_wrapper .write_us_block,
.contact_wrapper .catalog_button,
.contact_wrapper .search_form,
.contact_wrapper .customer_info_wrapper,
.contact_wrapper .work_address {
  display: flex;
  align-items: center;
}

.contact_wrapper .logo_block img {
  height: 71px;
  width: 66px;
}

.contact_wrapper .logo_block .logo_caption {
  font: 24px Roboto;
  line-height: 0.7;
  width: 170px;
}

.contact_wrapper .logo_block .logo_caption span {
  font: 500 12px/14.06px Roboto;
}

.contact_wrapper .work_time_block {
  display: flex;
  justify-content: flex-start;
}

.contact_wrapper .work_time_block .time_icon {
  height: 32px;
  width: 32px;
}

.contact_wrapper .work_time_block .work_time {
  font: 500 14px Roboto;
  line-height: 20px;
  text-align: right;
  width: 230px;
  margin-top: 5px;
}

.contact_wrapper .work_address {
  display: flex;
  justify-content: flex-start;
}

.contact_wrapper .work_address .work_icon {
  height: 32px;
  width: 32px;
  margin-right: 14.7px;
}

.contact_wrapper .work_address span {
  font: 500 14px Roboto;
  line-height: 16px;
}

.content_wrapper .write_us_block {
  width: 204px;
  height: 30px;
  background: #e1efd0;
  border-radius: 2px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.content_wrapper .write_us_block img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.content_wrapper .write_us_block span {
  font: 12px Rubik;
  line-height: 14px;
  color: #000000;
}

.contact_wrapper .phone_block {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: center;
}

.contact_wrapper .phone_block a {
  color: #0f2438;
}

.contact_wrapper .phone_block .phone {
  font: 500 20px Roboto;
  line-height: 23px;
}

.contact_block .catalog_button {
  width: 164px;
  height: 53px;
  background: #005bb9;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_block .catalog_button .burger_wrapper {
  width: 20px;
  height: 13px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 12px;
}

.contact_block .burger_wrapper .burger_line {
  width: 20px;
  height: 3px;
  background: #ffffff;
}

.contact_block .burger_caption {
  font: 700 18px Roboto;
  line-height: 21px;
  color: #ffffff;
}

.contact_block .search_form {
  height: 53px;
  display: flex;
}

.contact_block .search_form .search {
  width: 549px;
  height: 100%;
  background: #f4f5fa;
  border-radius: 6px 0px 0px 6px;
  border: none;
}

.contact_block .search_form .search:focus {
  outline: none;
}

.contact_block .search_form .search::placeholder {
  padding-left: 19px;
  font-size: 14px;
  line-height: 16px;
  color: #c2c5da;
}

.contact_block .search_form .search_button {
  width: 101px;
  height: 100%;
  background: #005bb9;
  border-radius: 0px 6px 6px 0px;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.contact_block .login_block {
  display: flex;
  align-items: center;
}

.contact_block .customer_info_wrapper img {
  margin-right: 15px;
  height: 28px;
  width: 28px;
}

.contact_block .customer_info_wrapper .customer_block_caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #0f2438;
}
.contact_block .login_block .selected_icon {
  width: 26px;
}

.contact_block .busket_block .busket_caption {
  font-size: 12px;
  line-height: 16px;
  color: #0f2438;
  width: 70px;
}

.action_wrapper {
  display: flex;
  /* flex-direction: column; */
}

.action_wrapper .action_group_slider {
  background: url('./src/images/main/action-slider-bg.png') no-repeat;
  background-size: contain;
  width: 1008px;
  height: 390px;
  display: flex;
  position: relative;
  justify-content: center;
}

.action_wrapper .arrow {
  align-self: center;
  position: absolute;
}

.action_wrapper .prev {
  left: 10px;
}

.action_wrapper .next {
  transform: rotate(180deg);
  right: 10px;
}

.action_wrapper .state_block {
  bottom: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 92px;
  position: absolute;
  left: calc(50% - 46px);
}

.action_wrapper .state_block .state {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
}

.action_wrapper .state_block .state.active {
  background: #0d1c2b;
}

.action_wrapper .action_slide_block {
  display: flex;
  justify-content: space-between;
}

.busket_button {
  width: 160px;
  height: 49px;
  background: #005bb9;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.busket_button .busket_icon {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.busket_button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.action_wrapper .action_slide_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action_wrapper .action_slide_info {
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: space-between;
}

.action_wrapper .action_product_name {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  color: #0a1a2c;
}

.action_wrapper .action_product_name span {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #717171;
}

.action_wrapper .action_price_block {
  font-weight: 500;
  font-size: 37px;
  line-height: 43px;
  color: #005bb9;
}

.action_wrapper .action_price_block .action_product_sale {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: #c2c5da;
}

.action_wrapper .action_mini_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.action_wrapper .action_list_wrapper {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 190px;
  background: #f4f5fa;
  border-radius: 10px;
}

.action_wrapper .action_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #0f2438;
  margin: 10px 0 12px 20px;
}

.action_wrapper .action_busket {
  width: 57px;
  height: 49px;
}

.action_wrapper .action_list_product {
  display: flex;
  margin-left: 20px;
}

.action_wrapper .action_list_product_info {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #0a1a2c;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.action_wrapper .action_list_product_info span:last-of-type {
  font-size: 12px;
  line-height: 14px;
  color: #525252;
}

.action_wrapper .action_list_price_block {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 13px;
  align-items: flex-end;
}

.action_wrapper .action_list_price {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-right: 10px;
  color: #ffb800;
  margin-bottom: 9px;
}

.action_wrapper .action_list_sale {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-right: 10px;
  text-decoration-line: line-through;
  color: #c2c5da;
  margin-bottom: 11px;
}

.content_wrapper .group_slider {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
}

.content_wrapper .group_slider .arrow {
  position: absolute;
  align-self: center;
}

.content_wrapper .group_slider .arrow.prev {
  left: -40px;
}

.content_wrapper .group_slider .arrow.next {
  right: -40px;
  transform: rotate(-180deg);
}

.content_wrapper .group_slider_wrapper {
  width: 431px;
  height: 184px;
  background: #ffffff;
  border: 1px solid #e1e5f8;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_wrapper .group_slider_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 51px;
}

.content_wrapper .group_slider_block_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #0a1a2c;
}

.content_wrapper .group_slider_description {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #0a1a2c;
}

.content_wrapper .group_slider_open {
  width: 86px;
  height: 26px;
  background: #005bb9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.product_wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.product_wrapper .product_filter_section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 34px;
}

.product_wrapper .product_filter_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 2px solid #005BB9;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
 color: #005BB9;
 margin-right: 20px;
}

.product_wrapper .product_filter_block.active {
  background: #005bb9;
  color: #ffffff;
}
/* End main */

/* Footer */

/* End footer */
